<% if(locals.messages){ %>
<ul>
  <% messages.forEach(message => { %>
  <li>
    <p><b><%- message.author %></b></p>
    <p><%- message.sent_date %></p>
    <% if (user.status !== "guest") { %>
    <p><%- message.text %></p>
    <% } %>
    <br />
    <% if (user.status === "admin" || user.id === message.author_id) { %>
    <a href="/message/<%- message.id %>/delete">Delete message</a>
    <a href="/message/<%- message.id %>/edit">Edit message</a>
    <% } %>
  </li>
  <% }) %>
</ul>
<% } %>
